* {
    font-family: 'Times New Roman', Times, serif;

}

.logo {
    width: 300px;
    height: 300px;
    margin: 0,0;
   

}

object {
    display: flex;
    justify-content: center;
}

nav {
    text-align: center;
    font-size: 2em;
    background-color: aquamarine;    
}

.menu{
    margin-left: 100px;
    width: 20%;
       
}

.menu  a:link, a:visited, a:active {
    text-decoration: none;
    color: darkred;   
}

.menu a:hover {
    background-color: darkgoldenrod;
}





    



