table, th, td   {
    border: 1px solid ;
    font-size: 1.3em;
     padding: 10px; 
    
}

table {
     width: 60%;
     border-collapse: collapse;
     

}

.fondo {
    background-color: rgb(39, 97, 156);
}

.hov {
    background-color: antiquewhite;
}

 tbody :hover { 
    background: rgb(247, 243, 10);
}

