ul {
    font-size: 1.3em;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    border:1px solid black;
    margin:0;
    padding:0;
    width:20%;
    text-align: center;
   
}

li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: antiquewhite;
    padding: 5px;
    

}
a {
    text-decoration: none;
}

li a::before {
    content: "==>";
    color: blue;
    visibility: hidden;

}
li:hover a:before {
    visibility: visible;
}